# Define your own values for these variables
# - DO NOT put "" or '' around values, or add space around =
# - DO NOT use these characters within values: \ " '
VPN_IPSEC_PSK=your_ipsec_pre_shared_key
VPN_USERS=user1:pass1,user2:pass2,user3:pass3
